# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
*.pytest_cache
# Environment variables (NEVER commit these)
.env
*.env
/db
*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node
node_modules/
.next/

# Docker
*.log

# LLM Prompts (Secrets)
backend/prompts

#frontend
frontend/stitch/
*.html

# Terraform sensitive files
*.tfvars
*.tfvars.json
# Also ignore the state files which might contain secrets
*.tfstate
*.tfstate.backup
.terraform/